hr {
  background: var(--border-color);
  border: solid 1px var(--border-color);

  box-sizing: border-box;
  width: 400px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.authBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  padding-left: 30px;

  width: 240px;
}

.authMe {
  font-weight: 500;
  color: var(--border-color);
}

.authMain {
  position: relative;
  margin: auto;

  background: var(--card-color1);
  border-radius: 50px;
  border: solid 8px var(--border-color);

  height: 569px;
  width: 750px;

  text-align: center;
}

.authPhone {
  z-index: 10;
  position: absolute;

  margin: auto;

  height: 569px;
  width: 0;

  text-align: center;

  transition-timing-function: ease;
  transition: left 0.3s;
  transition: right 0.3s;
}

.authForm {
  position: absolute;
  width: 450px;
}

.login {
  right: 17px;

  top: 60px;
}

.signup {
  left: 17px;

  top: 80px;
}

.authText {
  background: #ffffff;
  border-radius: 5px;
  border: solid 5px var(--border-color);

  box-sizing: border-box;
  width: 400px;
  height: 70px;
  margin-bottom: 25px;
  padding: 20px;

  font-size: 27px;
  font-weight: 300;
}

.authText:focus {
  border: solid 5px #5f5d54;
}

.authSubmit {
  background: var(--border-color);
  border-radius: 5px;
  border: solid 5px var(--border-color);

  box-sizing: border-box;
  width: 400px;
  height: 50px;
  margin-bottom: 25px;

  text-align: center;

  font-size: 27px;
  font-weight: 300;
  color: #ffffff;

  cursor: pointer;
}

.authSubmit:active {
  filter: brightness(120%);
}

#authGoogle {
  margin: 25px;
  font-size: 27px;
  font-weight: 300;
}

.authSubtext {
  margin: 25px;
  margin-bottom: 10px;

  font-size: 17px;
  font-weight: 200;
}

.authSwitch {
  margin-left: 5px;

  font-weight: bolder;
}

.authLink:hover {
  cursor: pointer;

  filter: brightness(120%);
}

.authLink:active {
  filter: brightness(80%);
}

.authError {
  margin: 25px;
  margin-top: 0;

  font-size: 17px;
  font-weight: 200;
  color: var(--bg-color1);
  filter: brightness(80%);
}

@media screen and (max-width: 1270px) {
  .authPhone {
    visibility: hidden;
    right: 0;
    left: 0;
    width: 0;
    margin: 0;
  }

  .authMain {
    width: 450px;
  }

  .login,
  .signup {
    right: auto;
    left: auto;
  }
}
