.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.authBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  padding-left: 30px;

  width: 240px;
}
