.usernameContainer {
  margin-top: 60px;
  margin-bottom: -20px;
}

.usernameForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.usernameInput {
  background: #ffffff;
  border-radius: 5px;
  border: solid 5px var(--border-color);

  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 20px;

  font-size: 27px;
  font-weight: 300;
}

.usernameSubmit {
  background: none;
  border: none;

  margin-left: 15px;
  padding: 0;

  line-height: 40px;
  font-size: 40px;

  cursor: pointer;
}

.usernameSubmit:hover {
  filter: brightness(120%);
}

.usernameSubmit:active {
  filter: brightness(80%);
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .usernameContainer {
    margin-top: 6.6vw;
  }

  .usernameInput {
    border-width: 0.6vw;

    width: 33.3vw;
    min-width: 200px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  .usernameContainer {
    margin-top: 30px;
  }

  .usernameInput {
    border-width: 2px;

    width: 200px;
    height: 30px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;
  }

  .usernameSubmit {
    margin-left: 10px;

    line-height: 30px;
    font-size: 30px;
  }
}
