* {
  font-family: 'Bahnschrift';
  user-select: none;

  /* User custom colors */
  color: #5f5d54;
  --bg-color1: #d4bec0;
  --bg-color2: #a2c6ca;
  --bg-angle: 45deg;
  --card-color1: #f1f2eb;
  --card-color2: #f1f2eb;
  --card-angle: 45deg;
  --border-color: #929b94;
  --social-color: #f2f3ef;
}

.swftli {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;

  display: block;
  overflow: auto;

  background: linear-gradient(
    var(--bg-angle),
    var(--bg-color1) 0%,
    var(--bg-color2) 100%
  );
  background-position: center;
}

.error {
  margin-top: 30px;
  margin-left: 30px;

  font-size: 50px;
  font-weight: lighter;
  color: #5f5d54;
}

.userHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 30px;
}

.userBanner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background: var(--card-color1);
  border-radius: 100px 0px 100px 100px;
  border: solid 8px var(--border-color);

  height: 100px;
  width: calc(100vw - 80px);
  max-width: 700px;

  padding: auto;

  font-weight: lighter;
  font-size: 50px;
}

.userImage {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 10px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  font-size: 10px;
}

.userSocials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap: 20px;

  font-size: 50px;
}

.userSocial {
  color: var(--social-color);
}

.userSocial:hover {
  filter: brightness(105%);
}

.userCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 30px;
}

.userCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  border-radius: 50px;

  height: 80px;
  width: calc(100vw - 120px);
  max-width: 800px;

  margin-bottom: 30px;
  padding: auto;
  padding-left: 20px;
  padding-right: 20px;

  text-decoration: none;
  cursor: pointer;
}

.userCard:hover {
  filter: brightness(105%);

  box-shadow: 0 0 30px var(--border-color);
}

.cardSocial {
  text-decoration: none;
  margin-right: 20px;
}

.footer {
  margin-top: 50px;

  width: 100%;

  font-weight: lighter;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}

@media screen and (max-width: 1150px) {
  .userHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .userSocials {
    margin-top: 30px;
  }
}
