.adminBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--card-color1);
  border-radius: 100px 0px 100px 100px;
  border: solid 8px var(--border-color);

  height: 100px;
  box-sizing: border-box;

  padding: auto;
  margin: 25px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-weight: 100;
  font-size: 50px;
}

.adminUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 100px;
  box-sizing: border-box;

  padding: auto;

  font-weight: 100;
  font-size: 50px;
}

.adminImage {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 7.5px;
}

.bannerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  font-size: 30px;
}

.bannerSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap: 30px;
  margin-right: 30px;
}

.bannerOtherLinks {
  font-weight: 300;
  text-decoration: none;
}

.bannerOtherLinks:hover {
  filter: brightness(110%);
}

.bannerLogout {
  background: var(--button-color);
  border-radius: 100px 0px 100px 100px;

  height: 60px;
  width: 160px;

  padding: auto;
  margin: auto;
  margin-right: 15px;

  font-weight: 100;
  font-size: 30px;
  color: var(--social-color);
  text-align: center;
  line-height: 60px;

  cursor: pointer;
}

.bannerLogout:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .adminBanner {
    border-width: 0.9vw;

    height: 11.1vw;
    min-height: 60px;
    width: 91vw;

    margin-right: auto;
    margin-left: auto;
  }

  .adminUser {
    font-size: 5.5vw;
  }

  .adminImage {
    width: 7.8vw;
    height: 7.8vw;
    min-width: 45px;
    min-height: 45px;

    padding: 0.8vw;
  }

  .bannerSettings {
    gap: 3.3vw;
    margin-right: 3.3vw;
  }

  .bannerOtherLinks {
    font-size: 3.3vw;
  }

  .bannerLogout {
    height: 6.6vw;
    width: 17.8vw;
    min-height: 30px;
    min-width: 80px;

    padding: auto;
    margin: auto;
    margin-right: 1.7vw;

    font-size: 3.3vw;

    line-height: 6.6vw;
  }
}

@media screen and (max-width: 500px) {
  .adminBanner {
    border-width: 4px;

    height: 60px;
    width: 91vw;

    margin-right: auto;
    margin-left: auto;
  }

  .adminUser {
    font-size: 13px;
    font-weight: bolder;
  }

  .adminImage {
    width: 45px;
    height: 45px;
    padding: 5px;
  }

  .bannerSettings {
    gap: 1.79vw;
    margin-right: 1.79vw;
  }

  .bannerOtherLinks {
    font-size: 13px;
    font-weight: bolder;
  }

  .bannerLogout {
    height: 30px;
    width: 80px;

    padding: auto;
    margin: auto;
    margin-right: 10px;

    font-size: 13px;
    font-weight: bolder;

    line-height: 30px;
  }
}
