:root {
  /* font-family: 'Bahnschrift'; */
  font-family: 'Baloo 2';
  user-select: none;

  --button-color: #707070;
  --button-dark: #5f5d54;
  --warning-color: #d88087;

  /* User custom colors */
  color: #5f5d54;
  --bg-color1: #d4bec0;
  --bg-color2: #a2c6ca;
  --bg-angle: 45deg;
  --bg-image: none;
  --card-color1: #f8f8f5;
  --card-color2: #f8f8f5;
  --card-angle: 45deg;
  --card-image: none;
  --border-color: #929b94;
  --social-color: #f2f3ef;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  transition: background 5000s ease-in-out 0s;
  -webkit-text-fill-color: #5f5d54;
}

.main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;

  display: block;
  overflow: auto;

  background: var(--bg-image),
    linear-gradient(var(--bg-angle), var(--bg-color1) 0%, var(--bg-color2) 100%);
  background-position: center;
  background-size: cover;
}

.error {
  margin-top: 30px;
  margin-left: 30px;

  font-size: 50px;
  font-weight: lighter;
  color: #5f5d54;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 30px;
}

.userImage {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.banner {
  background: var(--card-color1);
  border-radius: 100px 0px 100px 100px;
  border: solid 8px var(--border-color);

  height: 100px;
  width: calc(100vw - 80px);
  max-width: 700px;

  padding: auto;

  font-weight: 100;
  font-size: 50px;
}

.logoBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: var(--card-color1);
  border-radius: 100px 0px 100px 100px;
  border: solid 8px var(--border-color);

  margin: 30px;
  padding: auto;

  height: 100px;
  width: 240px;

  font-weight: 100;
  font-size: 50px;
  color: #5f5d54;

  cursor: pointer;
  text-decoration: none;
}

.logoMe {
  font-weight: 500;
  color: var(--border-color);
}

.footer {
  width: 100%;

  margin-top: 50px;

  font-weight: 100;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 3px #5f5d54;
  color: #f8f8f5;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .userImage {
    width: 8.9vw;
    height: 8.9vw;
    padding: 1vw;
  }

  .banner {
    border: solid 0.9vw var(--border-color);

    height: 11vw;
    width: calc(100vw - 80px);
    max-width: 700px;

    font-size: 5.6vw;
  }

  .logoBanner {
    border: solid 0.9vw var(--border-color);

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    height: 11vw;
    min-height: 65px;
    width: 27vw;
    min-width: 165px;

    font-size: 6vw;
  }

  .footer {
    margin-top: 35px;
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 500px) {
  .userImage {
    width: 45px;
    height: 45px;
    padding: 6px;
  }

  .banner {
    border: solid 4px var(--border-color);

    height: 55px;
    width: calc(100vw - 80px);
    max-width: 700px;

    font-size: 29px;
  }

  .logoBanner {
    border: solid 4px var(--border-color);

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    height: 65px;
    width: 165px;

    font-size: 32px;
  }

  .footer {
    margin-top: 35px;
    font-size: 12px;
  }
}
