.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.settingsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  box-sizing: border-box;
  width: 800px;
  max-width: 90vw;

  margin: auto;
  padding: 15px;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  background-position: center;
  border-radius: 10px;
}

.settingsName {
  font-size: 25px;
  margin-bottom: 15px;
}

.settingsH {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.settingsV {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  gap: 30px;
}

.settingsButton {
  width: 250px;
  height: 40px;
  border-radius: 10px;

  background-color: var(--button-color);

  text-align: center;
  line-height: 40px;

  font-size: 20px;
  font-weight: 500;
  color: var(--social-color);
}

.settingsButtonRed {
  background-color: var(--warning-color);
}

.settingsCard {
  border: solid 2px var(--button-dark);

  width: 200px;
  box-sizing: border-box;
}

.settingsBgCard {
  border-radius: 10px;
  background: var(--social-color);

  height: 250px;
}

.settingsCardCard {
  border-radius: 50px;
  background: var(--social-color);

  height: 40px;
}

.settingsColor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--social-color);
  border-radius: 100px;
  border: solid 2px var(--button-dark);

  height: 30px;
  width: 160px;
  box-sizing: border-box;
}

.settingsColorPreview {
  background: var(--social-color);
  border-radius: 100px;
  border: solid 2px var(--button-dark);

  width: 30px;
  height: 30px;
  box-sizing: border-box;
  margin-left: -2px;
}

.settingsColorText {
  background: none;
  border: none;
  resize: none;

  font-family: 'Bahnschrift';
  font-size: 20px;
  color: #5f5d54;
  text-transform: uppercase;
}

.settingsSelect {
  background: none;
  border-radius: 100px;
  border: solid 2px var(--button-dark);
  resize: none;

  width: 160px;
  height: 30px;

  padding-left: 3px;

  font-family: 'Bahnschrift';
  font-size: 20px;
  color: #5f5d54;
}

.settingsLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;

  gap: 20px;
}

.settingsMisc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
}

.settingsMiscText {
  font-size: 25px;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .settingsSection {
  }
}

@media screen and (max-width: 500px) {
  .settingsSection {
    width: 90vw;
  }
}
