.cardsDroppable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 70%;

  margin-left: auto;
  margin-right: auto;

  transition: ease;
}

.cardsDraggable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;
  width: 800px;
  height: 80px;
  max-width: 90vw;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  background-position: center;
  border-radius: 10px;
}

.cardsGrip {
  height: 100%;
  line-height: 30px;
  align-items: center;

  font-size: 30px;

  color: var(--border-color);
}

.cardsGrip:active {
  color: #5f5d54;
}

.cardsGripLines {
  padding-top: 80%;
}

.cardsLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 70%;
  width: 100%;
}

.cardsLinkName {
  background: none;
  border: none;
  width: 100%;

  font-family: 'Bahnschrift';
  font-size: 20px;
  font-weight: 500;
  color: #5f5d54;
}

.cardsLinkUrl {
  background: none;
  border: none;
  width: 100%;

  font-family: 'Bahnschrift';
  font-size: 20px;
  font-weight: 100;
  color: #5f5d54;
}

.cardsSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 70%;
}

.cardsEnabled {
  box-sizing: border-box;
  width: 50px;

  background: var(--bg-color2);
  border-radius: 10px;

  cursor: pointer;
}

.cardsEnabledNo {
  background: var(--bg-color1);
}

.cardsEnabledCircle {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: 3px;

  background: var(--card-color1);
  border-radius: 10px;
}

.cardsEnabledCircleNo {
  margin-right: auto;
  margin-left: 3px;
}

.cardsDelete {
  font-size: 20px;
  color: var(--warning-color);

  cursor: pointer;
}

.cardsDelete:hover {
  filter: brightness(110%);
}

.cardsDelete:active {
  filter: brightness(90%);
}

.cardsButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  gap: 20px;

  box-sizing: border-box;
  width: 800px;
  max-width: 90vw;

  margin: auto;
  padding: 20px;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  background-position: center;
  border-radius: 10px;
}

.cardsButton {
  width: 250px;
  max-width: 40%;
  height: 40px;
  border-radius: 10px;

  background-color: var(--button-color);

  text-align: center;
  line-height: 40px;

  font-size: 20px;
  font-weight: 500;
  color: var(--social-color);

  cursor: pointer;
}

.cardsButton:hover {
  filter: brightness(110%);
}

.cardsButton:active {
  filter: brightness(90%);
}

.cardsStatus {
  position: fixed;
  bottom: 10px;
  right: 20px;

  background: var(--card-color1);
  padding: 10px;
  min-width: 20px;

  border: solid 2px;
  border-radius: 10px;

  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.cardsStatusGood {
  background-color: var(--bg-color2);
}

.cardsStatusBad {
  background-color: var(--bg-color1);
}

.cardsStatusNeutral {
  background-color: var(--card-color1);
}

.cardsStatusHide {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .cardsDraggable {
    height: 60px;

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;

    gap: 10px;
  }
  .cardsGrip {
    line-height: 20px;

    font-size: 20px;
  }

  .cardsGripLines {
    padding-top: 100%;
  }

  .cardsLinkName {
    font-size: 15px;
  }

  .cardsLinkUrl {
    font-size: 15px;
  }

  .cardsSettings {
    height: 70%;
  }

  .cardsEnabled {
    width: 30px;
  }

  .cardsEnabledCircle {
    width: 10px;
    height: 10px;
  }

  .cardsDelete {
    font-size: 15px;
  }

  .cardsButtons {
    flex-direction: column;
    align-items: center;

    gap: 15px;
  }

  .cardsButton {
    height: 30px;
    max-width: 100%;

    line-height: 30px;

    font-size: 15px;
    font-weight: 300;
  }

  .cardsStatus {
    padding: 7px;
    min-width: 20px;

    border-width: 1px;
    border-radius: 7px;

    line-height: 15px;
    font-size: 15px;
  }
}
