.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* gap: 20px; */
}

.settingsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  box-sizing: border-box;
  width: 800px;
  max-width: 90vw;

  margin: auto;
  padding: 20px;
  margin-bottom: 20px;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  background-position: center;
  border-radius: 10px;
}

.settingsName {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1;
}

.settingsH {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  /* gap: 20px; */
}

.settingsV {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* gap: 30px; */

  margin-bottom: 50px;
}

.settingsButton {
  width: 250px;
  max-width: 40%;
  height: 40px;
  border-radius: 10px;

  background-color: var(--button-color);

  text-align: center;
  line-height: 40px;

  font-size: 20px;
  font-weight: 500;
  color: var(--social-color);

  cursor: pointer;
}

.settingsButton:hover {
  filter: brightness(110%);
}

.settingsButton:active {
  filter: brightness(90%);
}

.settingsButtonRed {
  background-color: var(--warning-color);
}

.settingsSocials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 20px;

  width: 100%;

  /* gap: 20px; */
}

.settingsSocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* gap: 10px; */

  margin-bottom: 20px;

  height: 30px;
  width: 100%;
  box-sizing: border-box;

  font-size: 20px;
}

.settingsSocialSelect {
  background: none;
  border-radius: 10px;
  border: solid 2px var(--button-dark);
  resize: none;

  min-width: 110px;
  width: 16%;

  margin-right: 10px;
  padding-left: 3px;

  /* font-family: 'Bahnschrift'; */
  font-family: 'Baloo 2';
  font-size: 20px;
  color: #5f5d54;
}

.settingsSocialId {
  background: var(--social-color);
  border-radius: 10px;
  border: solid 2px var(--button-dark);

  /* font-family: 'Bahnschrift'; */
  font-family: 'Baloo 2';
  font-size: 20px;
  color: #5f5d54;

  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.settingsSocialDelete {
  font-size: 20px;
  color: var(--warning-color);

  cursor: pointer;
}

.settingsSocialDelete:hover {
  filter: brightness(110%);
}

.settingsSocialDelete:active {
  filter: brightness(90%);
}

.settingsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: solid 2px var(--button-dark);

  width: 200px;
  box-sizing: border-box;

  margin-bottom: 20px;

  cursor: pointer;
}

.settingsBgCard {
  border-radius: 10px;
  background: var(--social-color);

  height: 250px;
}

.settingsCardCard {
  border-radius: 50px;
  background: var(--social-color);

  height: 40px;
}

.settingsCardImage {
  border-style: dashed;

  background-position: center;
  background-size: cover;
}

/* .settingsCardHighlight {
  box-shadow: 0 0 40px var(--button-dark);
} */

.settingsCardYes {
  -webkit-text-stroke: 2px var(--button-dark);

  font-size: 30px;
  color: var(--social-color);

  pointer-events: none;
}

.settingsCardNo {
  display: none;
}

.settingsImageIconYes {
  -webkit-text-stroke: 2px var(--button-dark);

  font-size: 30px;
  color: var(--social-color);

  pointer-events: none;
}

.settingsImageIconNo {
  display: none;
}

.settingsColor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--social-color);
  border-radius: 10px;
  border: solid 2px var(--button-dark);

  height: 38px;
  width: 160px;
  box-sizing: border-box;
}

.settingsColorPreview {
  background: var(--social-color);
  border-radius: 10px;
  border: solid 2px var(--button-dark);

  width: 38px;
  height: 38px;
  box-sizing: border-box;
  margin-left: -2px;
}

.settingsColorText {
  background: none;
  border: none;
  resize: none;

  /* font-family: 'Bahnschrift'; */
  font-family: 'Baloo 2';
  font-size: 20px;
  color: #5f5d54;
  text-transform: uppercase;

  padding-left: 15px;
}

.settingsSelect {
  background: none;
  border-radius: 10px;
  border: solid 2px var(--button-dark);
  resize: none;

  width: 160px;

  padding-left: 3px;

  /* font-family: 'Bahnschrift'; */
  font-family: 'Baloo 2';
  font-size: 20px;
  color: #5f5d54;
}

.settingsLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;

  /* gap: 20px; */

  margin-bottom: 50px;
}

.settingsMisc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  width: 300px;
}

.settingsMiscText {
  font-weight: 200;
  font-size: 25px;
}

.settingsPassword {
  background: var(--social-color);
  border-radius: 10px;
  border: solid 2px var(--button-dark);

  width: 50%;

  font-family: 'Baloo 2';
  font-size: 20px;
  color: #5f5d54;

  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.settingsStatus {
  position: fixed;
  bottom: 10px;
  right: 20px;

  background: var(--card-color1);
  padding: 10px;
  min-width: 20px;

  border: solid 2px;
  border-radius: 10px;

  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

.settingsStatusGood {
  background-color: var(--bg-color2);
}

.settingsStatusBad {
  background-color: var(--bg-color1);
}

.settingsStatusNeutral {
  background-color: var(--card-color1);
}

.settingsStatusHide {
  visibility: hidden;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .settingsH {
    /* gap: 5px; */
    margin-bottom: 15px;
  }

  .settingsCard {
    margin-right: 5px;
    margin-left: 5px;
  }

  .settingsColor {
    margin-right: 5px;
    margin-left: 5px;

    width: 140px;
  }

  .settingsColorText {
    padding-left: 10px;
  }

  .settingsSelect {
    width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .settingsSection {
    width: 90vw;

    padding: 15px;
  }

  .settingsName {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .settingsV {
    /* gap: 15px; */

    margin-bottom: 30px;
  }

  .settingsH {
    flex-direction: column;

    /* gap: 15px; */
  }

  .settingsButton {
    margin-top: 15px;

    height: 30px;
    max-width: 100%;

    line-height: 30px;

    font-size: 15px;
    font-weight: 300;
  }

  .settingsSocials {
    margin-bottom: 0;
  }

  .settingsSocial {
    margin-bottom: 10px;

    font-size: 15px;
  }

  .settingsSocialSelect {
    border-radius: 7px;
    border-width: 1px;

    width: 90px;

    padding-left: 3px;

    font-size: 15px;
  }

  .settingsSocialId {
    border-radius: 7px;
    border-width: 1px;

    width: 70px;

    font-size: 15px;

    padding-left: 10px;
  }

  .settingsSocialDelete {
    font-size: 15px;
  }

  .settingsColor {
    border-radius: 7px;
    border-width: 1px;

    height: 26px;
    width: 110px;

    margin-bottom: 10px;
  }

  .settingsColorPreview {
    border-radius: 7px;
    border-width: 1px;

    width: 26px;
    height: 26px;
    margin-left: -1px;
  }

  .settingsColorText {
    font-size: 15px;

    padding-left: 10px;
  }

  .settingsSelect {
    border-radius: 7px;
    border-width: 1px;

    width: 110px;

    padding-left: 3px;

    font-size: 15px;
  }

  .settingsLeft {
    margin-bottom: 20px;
  }

  .settingsMisc {
    width: 220px;

    margin-bottom: 0;
  }

  .settingsMiscText {
    font-weight: 300;
    font-size: 15px;
  }

  .settingsPassword {
    border-radius: 7px;
    border-width: 1px;

    width: 220px;
    max-width: 88%;

    font-size: 15px;
    margin: auto;
    margin-bottom: 10px;

    padding-left: 10px;
  }

  .settingsStatus {
    padding: 7px;
    min-width: 20px;

    border-width: 1px;
    border-radius: 7px;

    line-height: 15px;
    font-size: 15px;
  }
}
