.resetContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 800px;
  max-width: 90vw;

  margin: auto;
  padding: 20px;

  background: linear-gradient(
    var(--card-angle),
    var(--card-color1) 0%,
    var(--card-color2) 100%
  );
  background-position: center;
  border-radius: 10px;

  margin-top: 30px;
  margin-bottom: -20px;
}

.resetMessage {
  margin-bottom: 20px;

  font-size: 30px;
  text-align: center;
}

.resetForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resetInput {
  background: #ffffff;
  border-radius: 5px;
  border: solid 5px var(--border-color);

  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 20px;

  font-size: 27px;
  font-weight: 300;
  color: #5f5d54;
}

.resetSubmit {
  background: none;
  border: none;

  margin-left: 15px;
  padding: 0;

  line-height: 40px;
  font-size: 40px;
  color: #5f5d54;

  cursor: pointer;
}

.resetSubmit:hover {
  filter: brightness(120%);
}

.resetSubmit:active {
  filter: brightness(80%);
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  .resetContainer {
    margin-top: 6.6vw;

    padding: 15px;
  }

  .resetInput {
    border-width: 0.6vw;

    width: 33.3vw;
    min-width: 200px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  .resetContainer {
    margin-top: 30px;
  }

  .resetMessage {
    margin-bottom: 10px;

    font-size: 18px;
  }

  .resetInput {
    border-width: 2px;

    width: 200px;
    height: 30px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;
  }

  .resetSubmit {
    margin-left: 10px;

    line-height: 30px;
    font-size: 30px;
  }
}
