* {
  font-family: 'Bahnschrift';
  user-select: none;

  --warning-color: #d88087;

  /* User custom colors */
  color: #5f5d54;
  --bg-color1: #d4bec0;
  --bg-color2: #a2c6ca;
  --bg-angle: 45deg;
  --card-color1: #f8f8f5;
  --card-color2: #f8f8f5;
  --card-angle: 45deg;
  --border-color: #929b94;
  --social-color: #f2f3ef;
}

.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;

  display: block;
  overflow: auto;

  background: linear-gradient(
    var(--bg-angle),
    var(--bg-color1) 0%,
    var(--bg-color2) 100%
  );
  background-position: center;
}

.error {
  margin-top: 30px;
  margin-left: 30px;

  font-size: 50px;
  font-weight: lighter;
  color: #5f5d54;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 30px;
}

.userImage {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 10px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  font-size: 10px;
}

.banner {
  background: var(--card-color1);
  border-radius: 100px 0px 100px 100px;
  border: solid 8px var(--border-color);

  height: 100px;
  width: calc(100vw - 80px);
  max-width: 700px;

  padding: auto;

  font-weight: 100;
  font-size: 50px;
}

.footer {
  margin-top: 50px;

  width: 100%;

  font-weight: lighter;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}
